@font-face{
	font-family: 'Helios Cond'; 
	src: url('../fonts/HeliosCond.woff') format('woff');
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

@font-face{
	font-family: 'Helios Cond'; 
	src: url('../fonts/HeliosCond-Bold.woff') format('woff');
	font-style: normal;
	font-display: swap;
	font-weight: bold;
}