.structure-section{
	padding: 105px 0 80px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;

	.section-caption{
		margin-bottom: 0;
	}

	.section-inner{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
		align-items: center;
	}

	.device-wrapper{
		padding-left: 35px;
	}

	.select-view-block{
		position: absolute;
		left: 66px;
		top: 370px;

		p{
			font-size: 16px;
			line-height: 30px;
			color: #fff;
			margin-bottom: 35px;
		}
	}

	.views-list{
		position: relative;
		z-index: 5;

		li{
			margin-bottom: 20px;
			
			button{
				transition: all $t;
				position: relative;
				transform-origin: left center;
				font-size: 18px;
				line-height: 1.22;
				font-weight: bold;
				color: #fff;
				font-family: $second-font;
				text-transform: uppercase;

				&:after{
					content: '';
					display: block;
					width: 0;
					height: 2px;
					background: currentcolor;
					position: absolute;
					right: 0;
					bottom: -2px;
					transition: width $t;
				}

				&:last-child{
					margin-bottom: 0;
				}

				&:hover,
				&.active{
					transform: scale(1.1);
					color: $primary;

					&:after{
						width: calc(100% + 100px);
					}
				}
			}
		}
	}

	.legend{
		list-style: decimal;
		font-size: 18px;
		line-height: 1.22;
		font-weight: bold;
		color: #fff;
		font-family: $second-font;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		z-index: 5;

		li{
			margin-bottom: 20px;
			transition: all .5s;
			position: relative;
			transform-origin: left center;

			&:after{
				content: '';
				display: block;
				width: 0;
				height: 2px;
				background: currentcolor;
				position: absolute;
				right: 0;
				bottom: -2px;
				transition: width .5s;
			}

			&:last-child{
				margin-bottom: 0;
			}

			&:hover,
			&.active{
				transform: scale(1.1);
				color: $primary;

				&:after{
					width: calc(100% + 40px);
				}
			}
		}
	}

	@media screen and (max-width: 1699px){
		.select-view-block{
			position: static;
			margin-top: 30px;
			margin-bottom: 30px;
			display: flex;
			flex-direction: column;
			align-items: center;

			p{
				margin-bottom: 20px;

				br{
					display: none;
				}
			}
		}

		.views-list{
			display: flex;
			flex-direction: row;

			li{
				margin-bottom: 0;
				margin-right: 30px;

				&:last-child{
					margin-right: 0;
				}

				button{
					&:hover,
					&.active{
						&:after{
							width: 100%;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 1229px){
		.section-caption{
			margin-bottom: 30px;
		}

		.select-view-block{
			display: none;
		}
	}

	@media screen and (max-width: 991px){
		.legend{
			margin-left: 50px;
		}
	}

	@media screen and (max-width: 575px){
		.section-inner{
			grid-template-columns: 100%;
		}

		.legend{
			display: none;
		}

		.mobile-legend{
			position: relative;
			z-index: 5;
			margin-bottom: 20px !important;

			.slick-arrow{
				width: 10px;
				height: 17px;
				background: transparent;
				padding: 0;
			}

			.legend-item{
				font-size: 16px;
				text-transform: uppercase;
				color: $primary;
				text-align: center;
				font-family: $second-font;
				font-weight: bold;
			}

			.slick-dots{
				bottom: -20px !important;

				li{
					button{
						width: 7px;
						height: 7px;
						border-width: 1px;
						background: transparent;
						border-color: rgba(#fff, .2);
					}

					&.slick-active{
						button{
							width: 5px;
							height: 5px;
							background: $primary;
							border-color: $primary;
						}
					}
				}
			}
		}

		.device-wrapper{
			padding-left: 0;
			width: 100%;

			.device-block{
				max-width: 100%;
			}
		}
	}

	@media screen and (min-width: 576px){
		.mobile-legend{
			display: none !important;
		}
	}
}

.device-block{
	position: relative;
	width: 100%;
	max-width: 366px;
	z-index: 2;

	&:before{
		content: '';
		display: block;
		width: 1160px;
		height: 1160px;
		background: radial-gradient(ellipse at center, #3a281e, transparent 50%);
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
		pointer-events: none;
	}

	img{
		width: 100%;
		display: block;
		height: auto;
	}

	.tooltips{
		.item{
			width: 36px;
			height: 36px;
			border-radius: 50%;
			font-size: 18px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: $second-font;
			font-weight: bold;
			color: #fff;
			position: relative;
			z-index: 2;
			transition: all $t;
			position: absolute;

			&:before{
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: #b97f5f;
				border: 2px solid #fff;
				box-shadow: 0 5px 15px rgba(#1e150e, .25);
				z-index: -1;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				transition: all $t;
			}

			&:hover,
			&.active{
				font-size: 26px;

				&:before{
					transform: translate(-50%, -50%) scale(1.27);
					background: #e83535;
					border-color: #e83535;
				}
			}
		}
	}
}