.mobile-top-nav{
	position: absolute;
	transition: all $t;
	left: 0;
	top: 100%;
	background: #0e0d0b;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	visibility: hidden;
	opacity: 0;
	transform: translateY(40px);

	@media screen and (max-width: 1230px){
		&.opened{
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}
	}

	height: calc(100vh - 106px);

	.sticky &{
		height: calc(100vh - 71px);
	}

	@media screen and (max-width: 767px){
		height: calc(100vh - 81px);
	}

	@media screen and (max-width: 575px){
		height: calc(100vh - 61px);

		.sticky &{
			height: calc(100vh - 51px);
		}
	}

	ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #fff;
		font-family: $second-font;

		li{
			margin-bottom: 50px;

			a{
				font-size: 16px;
				line-height: 1.375;
				color: inherit;
				text-transform: uppercase;
				letter-spacing: 0.05em;

				&:hover,
				&:focus{
					color: $primary;
				}
			}

			&.current-menu-item,
			&.current-menu-parent{
				a{
					color: $primary;
					text-decoration: underline;
				}
			}
			
			&.current-menu-item{
				a{
					cursor: default;
				}
			}
		}
	}
}